.page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-family: Arial, sans-serif;
    text-align: center;
}

form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.csv-label{
    font-weight: bold;
    padding: 1%;
    width: 100%;
    text-align: center;
}

.file{
    padding-left: 1%;
}

.submit{
    padding: 0.25rem 0.55rem;
}

.display{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    width: 90%;
    transform: translateX(5%);
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.calc{
    padding: 0.5rem 0.9rem;
    width: 20%;
}

.price{
    padding: 0 1.5rem;
    border: none;
    background: none;
    font-size: large;
    font-weight: bold;
    color: rgb(0, 98, 255);
    width: 50%;
}

#price{
    text-align: center;
}